.login_logo {
    background-color:black ;
    width: 6rem;
    object-fit: contain;
   margin: 1rem 0.5rem 0;
   border-radius: 0.4rem;
}
.login{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}
.con_log{

    display: flex;
    flex-direction: column;
   width: 30%;

    gap: 1rem;
    
    
}
.con_log >form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.login button{
        margin-top: 1rem;
        height: 2.3rem;
        border-radius: 1rem;
        justify-content: center;
        width: 50%;
        border: none;
        background: #f0c14b;
        cursor: pointer;
        border: 1px solid;
        border-color: #a88734 #9c7e31 #846a29;
}
.login p{
    margin: 0.5rem;
}
.log_input{
    height: 2rem;
    padding: 0.3rem;
    border-radius: 0.8rem;
    border:1px solid #846a29;
    outline: none;
}
.agree{
    
    display: flex;
}
.chk_box{
    margin-top: 1px;
}